body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
}

.container {
    width: 100%;

}

#video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    
}

video, img {
    width: 100%;
    height: auto;
}

#speak-button {
    background-color: rgba(76, 175, 80, 0.8); /* Color verde con transparencia */
    color: white;
    border: none;
    padding: 12px 24px; /* Aumenta el padding para más espacio */
    font-size: 18px; /* Aumenta el tamaño de la fuente */
    cursor: pointer;
    margin: 20px 0;
    border-radius: 15px; /* Bordes más redondeados */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#result#result-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Borde semi-transparente más oscuro */
}

.result {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo semi-transparente para los resultados individuales */
    border-radius: 5px;
    font-size: 22px; /* Aumenta el tamaño de la fuente */
    color: white;
}